<?xml version="1.0"?>
<configuration>
  <!--  -->
  <!--  -->
  <!--  -->
  <!-- Application will restart after saving. -->
  <!--  -->
  <!--  -->
  <!--  -->
  <appSettings>
    <!--  -->
    <!-- comma separated..... everything you want to die...... -->
    <add key="thingsToKill" value=",sttray64,OSPPSVC,FlashUtil32_11_7_700_224_ActiveX,iked,SearchFilterHost,SearchProtocolHost,AdobeUpdater,cisvc,GoogleUpdate,VCDDaemon,jucheck,jusched,stsystra,ctfmon,iPodService,o2flash,sqlservr,sqlwriter,ToolbarUpdaterService,AESTSr64,WebBrowserServer,AppleMobileDeviceService,KHALMNPR,iTunesHelper,CCC,AdobeUpdater,cisvc,GoogleUpdate,VCDDaemon,jucheck,jusched,stsystra,ctfmon,Microsoft.VisualStudio.Web.Host,FlashUtil32_11_7_700_202_ActiveX,GoogleToolbarNotifier,GoogleToolbarUser_32,SearchIndexer,Sandbox.vshost,ZCfgSvc7,sh,"/>
    <!--  -->
    <!-- extra message boxes here and there..... -->
    <add key="debug" value="0"/>
    <!--  -->
    <!-- Control Yes/No UI prompt for each kill. -->
    <add key="safeMode" value="false"/>
    <!--  -->
    <!-- Exactly what it says -->
    <add key="whatToEditConfigWith" value="Notepad.exe"/>
    <!--  -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
